html {
    font-size: 10px;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 2rem;
}

a {
    text-decoration: none;
}

.header {
    background-color: rgba(18, 18, 18, 0.95);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: auto;
    padding: 0 4rem;
    color: #fff;
    border-top: 5px solid #aceff9;
}

.header__container {
    -webkit-box-direction: normal;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: row wrap;
}

.header .brand {
    color: #aceff9;
    text-decoration: none;
}

.header .navbar {
    box-sizing: border-box;
}

.navbar .nav {
    list-style: none;
    margin: 0;
    padding-left: 0;
}

.nav__item {
    display: inline-block;
}

.nav--link {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 700;
    text-transform: lowercase;
    letter-spacing: .1rem;
    display: block;
    color: #fff;
}

.social-media {
    list-style: none;
}

.social-media__item {
    display: inline-block;
}

.social-media__item a {
    text-indent: -9999px;
    overflow: hidden;
    background-repeat: no-repeat;
}

.social-media__item a {
    display: block;
    width: 2rem;
    height: 2rem;
    margin-left: 1em;
    background-size: 2rem;
}


/* .social-media__link {
    height: 2rem;
    width: 2rem;
} */

.social-media__item a[href*="twitter"] {
    background-image: url(../imagens/twitter.png);
}

.social-media__item a[href*="facebook"] {
    background-image: url(../imagens/facebook.png);
}

.social-media__item a[href*="linkedin"] {
    background-image: url(../imagens/linkedin-icon.png);
}

.social-media__item a[href*="github"] {
    background-image: url(../imagens/github.png);
}

.social-media__item a[href*="codepen"] {
    background-image: url(../imagens/codepen-icon.png);
}

.main {
    padding-top: 7rem;
}

@media (max-width: 550px) {
    .main {
        padding-top: 10rem;
    }
}

.main__inner {
    margin-top: 6rem;
}

.content {
    max-width: 840px;
    margin-left: auto;
    margin-right: auto;
    padding: 0 4rem;
}

.content>p.lead {
    font-size: 3.6rem;
    line-height: 5rem;
}

.content>p {
    font-size: 2rem;
    line-height: 3.5rem;
}